body {
	background: url(img3/15.jpg);
	/*background-size:cover;
	background-position:70px 1325px;*/
}

#heading {
	font-size:40px;
	position:center;
	background-color:#ffffff;
	width:70%;
	height:150px;
	opacity:0.9;
	-webkit-border-radius: 20px;
}

#line1 {
	width:350px;
	height:1px;
	background-color:#000000;
}
#line2 {
	width:350px;
	height:1px;
	background-color:#000000;
	margin-top:66px;
}

#back {
	position:absolute;
	left:22px;
	top:300px;
	background: #d6d7e5;
	opacity: 0.85;
	width:97%;
	height:900px;
}