#text{
	font-family: "Bahnschrift Light";
	font-size: 30px;
}
body {
	background: #eaebf1;
	background-size: cover;
}
#text2 {
	font-family: "Bahnschrift Light";
	font-size: 30px;
	text-align:center;
	position:center;
	letter-spacing:5px;
}
#common-text1{
	font-family: "Bahnschrift Light";
	font-size: 20px;
	text-align:center;
	position:center;
}
#common-text2{
	font-family: "Bahnschrift Light";
	font-size: 15px;
	text-align:center;
	position:center;
	font-style:italic;
	font-weight:lighter;
}
#text3{
	font-family: "Constantia";
	font-weight:bold;
	letter-spacing:-0.5px;
	font-size:25px;
}
.blocks {
	height:150px;
	width:70%; 
	border: 0px; 
	background: url(backfonts/6.jpg);
	background-size: cover;
	-webkit-border-radius: 8px;
	margin-top:20px;
}
#block1 {

}
#block2 {
}
#block3 {
}
#block4 {
	height:50px;
}
#block5 {
	height:50px;
}
.text-desc {
	color:#442626;
	font-family: "Candara Light";
	font-size: 20px;
	display: inline-block;
	left:0px;
	margin-top:10px;
	margin-bottom:10px;
}
#text-anketa {
	
}
#button2 {
  /*background: url("img/6.jpg");
  border: none;*/
  background: #dddad0
  -webkit-border-radius: 5px;
  text-align: center;
  color: #464131;
  font-family: "Bahnschrift Light";
  font-size: 13px;
  height: 20px; 
  width:100px;
}
#button3 {
	font-family: "Bahnschrift Light";
	height: 40px; 
  width:200px;
	font-size: 16px;
	display: inline-block;
}